.items {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  overflow-x: scroll;
}

// .items::-webkit-scrollbar {
//   display: none;
// }
.images {
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  min-width: 100%;
}

.item {
  margin-right: 12px;
}
.card_image {
  width: 164px;
  height: 149px;
  border-radius: 10px;
  object-fit: cover;
}
